## ViewerV3 project
# Visual Studio files
/Source/ViewerV3/.vs
# Project build output
/Source/ViewerV3/bin
/Source/ViewerV3/obj
# Build modules
/Source/ViewerV3/node_modules
# Package lock
/Source/ViewerV3/package-lock.json
/Source/ViewerV3/database/test.db
/.vs/repos/v16
/.vs
