:root {
    --layout-col-size: 2;
    --layout-row-height-multiplier: 2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
    background: #DDD;
    max-width: 600px;
}

    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

/* ---- .grid-item ---- */

.grid-item {
    /*float: left;*/
    display: block;
    width: calc(100% / var(--layout-col-size));
    height: calc(100px * var(--layout-row-height-multiplier));
    background: #858585;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

    .grid-item img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain
    }

.grid-item--width2 {
    width: calc(200% / var(--layout-col-size));
}

.grid-item--width3 {
    width: calc(300% / var(--layout-col-size));
}

.grid-item--height2 {
    height: calc(200px * var(--layout-row-height-multiplier));
}

.grid-item--height3 {
    height: calc(300px * var(--layout-row-height-multiplier));
}

.grid-item:hover {
    border-color: hsla(0, 0%, 100%, 0.5);
    cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    background: #C90;
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}


@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 200px;
        max-width: 800px;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}