<%- include('../template/head')-%>

<body class="text-center">
    <%- include('../template/nav')-%>
    <h1>HTML Example</h1>


    <%- include('../template/footer')-%>
</body>
<script>
    $(document).ready(function () {
    });
</script>
</html>
