<%- include('../template/head')-%>

    <body class="text-center">
        <%- include('../template/nav')-%>
        <h1>HTML Example</h1>


        <div class="grid">
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width3 grid-item--height2"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width2 grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
        </div>

        <script src="layout.js"></script>

        <%- include('../template/footer')-%>
    </body>
</html>
