<%- include('../template/head')-%>

    <body class="text-center">
        <%- include('../template/nav')-%>
        <h1>HTML Example</h1>


        <div class="grid">
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width2 grid-item--height2"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width2 grid-item--height2"></div>
            <div class="grid-item"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item"></div>
        </div>

        <script>
            window.addEventListener('load', function () {
                this.console.log("hello");
                var $grid = $('.grid').packery({
                    itemSelector: '.grid-item',
                    columnWidth: 100
                });

                // make all grid-items draggable
                $grid.find('.grid-item').each(function (i, gridItem) {
                    var draggie = new Draggabilly(gridItem);
                    // bind drag events to Packery
                    $grid.packery('bindDraggabillyEvents', draggie);
                });
            });

        </script>

        <%- include('../template/footer')-%>
    </body>
</html>
