<%- include('../template/head')-%>

    <body class="text-center">
        <%- include('../template/nav')-%>

        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="form-group">
                    <label for="year">Year:</label>
                    <input type="number" class="form-control" id="year" value="2019">
                    <label for="project">Project:</label>
                    <input type="number" class="form-control" id="project">
                    <button type="submit" class="btn btn-primary mb-2" id="ProjectSearchBtn">Search</button>
                    <input type="text" class="form-control" id="projectName" disabled>
                </div>
                
                <div id="measurementTypeRadioBtns" align="left">
                </div>

                <div id="SampleIDRadioBtns" align="left">
                </div>

                <div id="TypeIDRadioBtns" align="left">
                </div>

                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action bg-light" id="C413">C413</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light" id="L602">L602</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light" id="Q662">Q662</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light" id="RV520">RV520</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light" id="U100">U100</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light" id="U300">U300</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">

              <div class="container-fluid" id='container'>
                <div class="grid" id="grid">
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_01.jpg" id='target0' /></div>
                    <div class="grid-item grid-item--height2"><img src="Images/S115_C413_02.jpg" id='target1'  /></div>
                    <div class="grid-item"><img src="Images/S115_C413_03.jpg" id='target2' /></div>
                    <div class="grid-item"><img src="Images/S115_C413_04.jpg" id='target3' /></div>
                    <div class="grid-item grid-item--width2 grid-item--height2"><img src="Images/S115_C413_05.jpg" /></div>
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_06.jpg" /></div>
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_07.jpg" /></div>
                    <div class="grid-item grid-item--height2"><img src="Images/S115_C413_08.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_08m.jpg" /></div>
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_09.jpg" /></div>
                    <div class="grid-item grid-item--height2"><img src="Images/S115_C413_10.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_11.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_12.jpg" /></div>
                    <div class="grid-item grid-item--width2 grid-item--height2"><img src="Images/S115_C413_13.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_14.jpg" /></div>
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_15.jpg" /></div>
                    <div class="grid-item grid-item--height2"><img src="Images/S115_C413_16.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_01.jpg" /></div>
                </div>
              </div>

              <div class="container-fluid" id='container2'>
                <div class="grid" id="grid2">
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_01.jpg" id='target' /></div>
                    <div class="grid-item grid-item--height2"><img src="Images/S115_C413_02.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_03.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_04.jpg" /></div>
                    <div class="grid-item grid-item--width2 grid-item--height2"><img src="Images/S115_C413_05.jpg" /></div>
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_06.jpg" /></div>
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_07.jpg" /></div>
                    <div class="grid-item grid-item--height2"><img src="Images/S115_C413_08.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_08m.jpg" /></div>
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_09.jpg" /></div>
                    <div class="grid-item grid-item--height2"><img src="Images/S115_C413_10.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_11.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_12.jpg" /></div>
                    <div class="grid-item grid-item--width2 grid-item--height2"><img src="Images/S115_C413_13.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_14.jpg" /></div>
                    <div class="grid-item grid-item--width2"><img src="Images/S115_C413_15.jpg" /></div>
                    <div class="grid-item grid-item--height2"><img src="Images/S115_C413_16.jpg" /></div>
                    <div class="grid-item"><img src="Images/S115_C413_01.jpg" /></div>
                </div>
              </div>
            </div>
            <!-- /#page-content-wrapper -->

      </div>
      <!-- /#wrapper -->

        <script src="layout.js"></script>

        <script>
            $(document).on("click", "#ProjectSearchBtn", function (event) {
                var socket = io();

                socket.emit("ProjectSearchBtn", { year: document.getElementById("year").value, project: document.getElementById("project").value });
            });
        </script>

        <script type='text/javascript'>
            var searchData = { name: "", year: -1, projectID: -1, measurementType: "", sampleID: "" };
            var sampleData = [];

            $(document).ready(function () {
                var socket = io();

                socket.on("projectSearchResult", (msg) => {
                    console.log(msg);

                    // Set project name
                    document.getElementById('projectName').value = msg.name;
                    
                    // Set searchData
                    searchData.name = msg.name;
                    searchData.year = msg.year;
                    searchData.projectID = msg.projectID;
                    searchData.measurementType = "";
                    searchData.sampleID = "";

                    // Clear any previous radio buttons
                    document.getElementById('measurementTypeRadioBtns').innerHTML = '';
                    document.getElementById('SampleIDRadioBtns').innerHTML = '';
                    var sampleRadioBtn = document.createElement('input');

                    // Generate radio buttons for measurement types
                    var mTypes = msg.measurementTypes.split(' ');
                    mTypes.forEach(mTypeElement => {
                        console.log(mTypeElement);

                        // Create label and radioBtn
                        var mTypeLabel = document.createElement('label');
                        var mTypeRadioBtn = document.createElement('input');
                            
                        // Set radio button attributes
                        mTypeRadioBtn.setAttribute('type', 'radio');
                        mTypeRadioBtn.setAttribute('name', 'measurementType');
                        mTypeRadioBtn.setAttribute('id', mTypeElement);
                        mTypeRadioBtn.setAttribute('onclick', "handleMeasurementTypeChangedEvent(this);");

                        // Set label attributes
                        mTypeLabel.innerHTML= mTypeElement;
                        mTypeLabel.setAttribute('for', mTypeElement);

                        document.getElementById('measurementTypeRadioBtns').appendChild(mTypeRadioBtn);
                        document.getElementById('measurementTypeRadioBtns').appendChild(mTypeLabel);
                    });
                });

                socket.on("ProjectMeasurementTypeSearchResult", (msg) => {
                    console.log(msg);

                    // Set sampleData
                    sampleData = msg;

                    // Clear any previous radio buttons
                    document.getElementById('SampleIDRadioBtns').innerHTML = '';
                    document.getElementById('TypeIDRadioBtns').innerHTML = '';

                    // Generate radio buttons for measurement types
                    msg.forEach(layoutResult => {
                        console.log(layoutResult);

                        // Create label and radioBtn
                        var sampleLabel = document.createElement('label');
                        var sampleRadioBtn = document.createElement('input');
                            
                        // Set radio button attributes
                        sampleRadioBtn.setAttribute('type', 'radio');
                        sampleRadioBtn.setAttribute('name', 'sampleID');
                        sampleRadioBtn.setAttribute('id', layoutResult.sampleID);
                        sampleRadioBtn.setAttribute('onclick', "handleSampleIDChangedEvent(this);");

                        // Set label attributes
                        sampleLabel.innerHTML= layoutResult.sampleID;
                        sampleLabel.setAttribute('for', layoutResult.sampleID);

                        document.getElementById('SampleIDRadioBtns').appendChild(sampleRadioBtn);
                        document.getElementById('SampleIDRadioBtns').appendChild(sampleLabel);
                    });
                });

                socket.on("RequestedLayoutHTML", (msg) =>{
                    var html = msg;

                    // Set layout grid
                    document.getElementById('grid').innerHTML = html;
                    
                    var grid = document.querySelector('.grid')
                    var pckry = Packery.data(grid);

                    pckry.reloadItems();

                    var elems = pckry.getItemElements()
                    elems.forEach((element) => {
                        var draggie = new Draggabilly(element);
                        // bind drag events to Packery
                        pckry.bindDraggabillyEvents(draggie);
                    });

                    //pckry.shiftLayout();
                    pckry.reloadItems();
                });
            });

            function handleMeasurementTypeChangedEvent(radioBtn) {
                console.log(radioBtn.id);

                // Set searchData
                searchData.measurementType = radioBtn.id;

                var socket = io();
                socket.emit("ProjectMeasurementTypeSearch", searchData);
            }

            function handleSampleIDChangedEvent(radioBtn) {
                console.log(radioBtn.id);
                console.log(sampleData);

                // Set searchData
                searchData.sampleID = radioBtn.id;

                // Clear any previous radio buttons
                document.getElementById('TypeIDRadioBtns').innerHTML = '';

                // Generate radio buttons for measurement types
                sampleData.forEach(layoutResult => {
                    if (layoutResult.sampleID == searchData.sampleID) {
                    
                        var typeIDs = layoutResult.typeID.split(' ');

                        typeIDs.forEach(typeID => {
                            // Create label and radioBtn
                            var typeLabel = document.createElement('label');
                            var typeRadioBtn = document.createElement('input');
                            
                            // Set radio button attributes
                            typeRadioBtn.setAttribute('type', 'radio');
                            typeRadioBtn.setAttribute('name', 'typeID');
                            typeRadioBtn.setAttribute('id', typeID);
                            typeRadioBtn.setAttribute('onclick', "handleTypeIDChangedEvent(this);");

                            // Set label attributes
                            typeLabel.innerHTML= typeID;
                            typeLabel.setAttribute('for', typeID);

                            document.getElementById('TypeIDRadioBtns').appendChild(typeRadioBtn);
                            document.getElementById('TypeIDRadioBtns').appendChild(typeLabel);
                        });
                    }
                });
            }

            function handleTypeIDChangedEvent(radioBtn) {
                console.log(radioBtn.id);

                // Clear layout
                document.getElementById('grid').innerHTML = '';

                var socket = io();
                socket.emit("RequestLayoutHTML", {year: searchData.year, projectID: searchData.projectID, measurementType: searchData.measurementType, sampleID: searchData.sampleID, typeID: radioBtn.id });
            }

        </script>
        
        <script>
            window.onload = function() {
                document.getElementById('C413').onclick = function()
                {
                    console.log('C413');

                    //document.getElementById('grid').innerHTML += '<div class="grid-item grid-item--width2"><img src="Images/S115_C413_01.jpg" /></div>';
                };
            };
        </script>

        <script src="/tui/tui-context-menu.js"></script>

        <script>
            var contextMenu = new tui.ContextMenu(document.querySelector('#container'));

            function onClick(e, cmd) {
                console.log(cmd);
                console.log(e.command);
                //if (cmd == 'Toggle faulty')
                //{
                    var target = document.getElementById('target' + cmd);

                    var targetGridItem = target.parentElement;
                    let targetColor = window.getComputedStyle(targetGridItem).backgroundColor;

                    console.log(targetColor);

                    if (targetColor == 'rgb(133, 133, 133)') {
                        targetGridItem.style.background = '#fc0303';
                    }
                    else {
                        targetGridItem.style.background = '#858585';
                    }
                //}
            }

            container = document.getElementById("container");
            container.childNodes.forEach(function(item, index) {

                contextMenu.register('#target' + index, onClick, [
                {title: 'Toggle faulty', command: index},
                {
                    title: 'New File',
                    menu: [
                        {title: '20170101.xls'},
                        {title: 'image.png', command: 'export-to-png'},
                        {title: 'image.jpg', command: 'export-to-jpg'}
                    ]
                },
                {separator: true},
                {title: 'Rename'},
                {title: 'Delete'},
                {title: 'Copy', disable: true},
                {title: 'Paste', disable: true}
                ]);
            });

            
        </script>

        <%- include('../template/footer')-%>
    </body>
</html>
