<%- include('../template/head')-%>
    <body class="text-center">
        <%- include('../template/nav')-%>

        <div class="container">
            <h2>Search</h2>
            <p>Search images based on serial ID or type ID</p>
            <form class="form-inline" id="searchForm">
                <label for="serial" class="mb-2 mr-sm-2">Serial:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="serial" placeholder="Enter serial" name="srl">
                <label for="type" class="mb-2 mr-sm-2">Type:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="type" placeholder="Enter type" name="typ">
                <button type="submit" class="btn btn-primary mb-2" id="SearchBtn">Search</button>
            </form>
        </div>

        <div class="container">
            <table id="myTable" class="table order-list">
                <thead>
                    <tr>
                        <td>Image</td>
                        <td>Name</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-4">
                        </td>
                        <td class="col-sm-4">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <%- include('../template/footer')-%>
    </body>
    <script>
        $(document).on("click", "#SearchBtn", function (event) {
            var socket = io();

            socket.emit("SearchBtn", { serial: document.getElementById("serial").value, type: document.getElementById("type").value });
        });
    </script>
    <script>
        $(document).ready(function () {
            var socket = io();

            var counter = 0;

            socket.on("searchResult", (msg) => {
                console.log(msg.results.length + " results recieved");
                msg.results.forEach((result) => {
                    var image = JSON.parse(result);
                    console.log(image.name + ".jpg");
                    console.log(result);

                    var newRow = $("<tr>");
                    var cols = "";

                    cols += '<td><img class="photo" src="' + image.data + '" width="300" name="Image' + counter + '"/></td>';
                    cols += '<td><h7>' + image.name + '"</h7></td>';

                    newRow.append(cols);
                    $("table.order-list").append(newRow);
                    counter++;
                });
            });
        });
    </script>
</html>
