<%- include('../template/head')-%>
    <body class="text-center">
        <%- include('../template/nav')-%>

        <div class="container">
            <h2>Search</h2>
            <p>Search images based on serial ID or type ID</p>
            <form class="form-inline" id="searchForm">
                <label for="serial" class="mb-2 mr-sm-2">Serial:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="serial" placeholder="Enter serial" name="srl">
                <label for="type" class="mb-2 mr-sm-2">Type:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="type" placeholder="Enter type" name="typ">
                <button type="submit" class="btn btn-primary mb-2" id="SearchBtn">Search</button>
            </form>
        </div>

        <h1>HTML Example</h1>
        <h1>HTML Example</h1>
        <h1>HTML Example</h1>
        <%- include('../template/footer')-%>
    </body>
    <script>
        $(document).on("click", "#SearchBtn", function (event) {
            var socket = io();

            socket.emit("SearchBtn", { serial: document.getElementById("serial").value, type: document.getElementById("type").value });
        });
    </script>
</html>
